# Default ignored files
.gitignore
.idea
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# html files
./out
./Chatty Bot welcomes you
./Guess the age
./Learning numbers
./Multiple choice
./Print your name